.GridView{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.GridView .TitleTr{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.GridView .TitleTr .TitleTd{
    flex: 1;
}

.GridView .TitleTr .TitleTdOptional{
    flex: 1;
}

.GridView .TitleTr .TdOptions{
    min-width: 55px;
}

.GridView .TitleTr .TitleTd strong{
    color: var(--color-title);
    font: 500 1rem Raleway;

}

.GridView .TitleTr .TitleTdOptional strong{
    color: var(--color-title);
    font: 500 1rem Raleway;

}

.GridView .Tr{
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-color: var(--color-background);
    border-bottom-width: 1px;
    background-color: var(--color-background-container);
    min-height: 35px;
}

.GridView .Tr:hover{
    background-color: var(--color-readonly);
}

.GridView .Tr .Td{
    flex: 1;
    display: flex;
    align-items: center;
    
}

.GridView .TitleTr .TdOptional{
    color: var(--color-title);
    font: 500 1rem Raleway;
    flex: 1;

}

.GridView .Tr .TdOptional{
    flex: 1;
    display: flex;
    align-items: center;
}

.GridView .Tr .TdOptions{
    
    display: flex;
    align-items: center;
    min-width: 55px;
}

.GridView .Tr .TdOptions .options{
    display: flex;
    flex-direction: row;
}

.GridView .Tr .Td span{
    display: block;
    color: var(--color-input-text);
    font: 500 1rem Raleway;
    word-wrap: break-word;
}

.GridView .Tr .TdOptional span{
    display: block;
    color: var(--color-input-text);
    font: 500 1rem Raleway;
    word-wrap: break-word !Important;
    
}

@media(max-width: 450px) {
    .GridView .Tr .TdOptional{
        display: none;
    }

    .GridView .TitleTr .TitleTdOptional{
        display: none;
    }
}